<!DOCTYPE html>
	<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1> Home </h1>

		<h3>Count: <%= session.name %></h3>
		<h3>Count: <%= session.location %></h3>
		<h3>Count: <%= session.language %></h3>



	</body>
	</html>